html,body{
    background: #ededed;
}

.request{
    width: 1000px;
    margin: 0 auto;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.request h1 {
    text-indent: 35px;
    color: rgb(222, 0, 0);
    margin-bottom: 10px;
    background: url("../img/request/icon_15.jpg") left center no-repeat;
    font: normal 16px/ 30px "微软雅黑";
}
.declare {
    height: 39px;
    background: url("../img/request/sbbg.gif") left top no-repeat;
    padding: 8px;
}
.declare h2 {
    width: 75px;
    height: 39px;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    float: left;
    margin-right: 2px;
}

.declare .bz {
    position: relative;
    width: auto;
    height: 38px;
    padding: 4px 20px 4px 16px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    margin-left: -12px;
    background-image: url(../img/request/bz-inactive.png);
    background-position: right center;
}

.declare .bz.active {
    background-image: url(../img/request/bz-active.png);
}

.declare .bz.bz8, .declare .bz.bz8.active {
    background-position: left center;
}

.declare li span {
    font-size: 12px;
}
.content_bd {
    height: auto;
    padding: 10px;
    padding-left: 20px;
    line-height: 22px;
    margin: 10px 0;
}
.content_bd h4 {
    font-weight: bold;
    color: #3372a4;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    margin-top: 5px;
}
.content_bd p {
    font-size: 14px;
    line-height: 24px;
}
.request .action-bar {
    text-align: center;
}
.ui-crud-widget .ui-header {
    border: none;
    font-weight: bold;
    color: #3372a4;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    margin-top: 5px;
    background: none;
}
.ui-crud-widget .ui-body {
    clear: both;
    padding: 4px 8px 8px;
}
.ui-crud-widget .ui-body form {
    list-style: none;
    margin-bottom: 4px;
}
.ui-crud-widget .ui-body table {
    width: 100%;
}
.ui-body table tr {
    border-bottom: 1px dashed #eee;
    text-align: center;
}

.ui-body form label {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 4px;
    font-weight: bold;
    color: black;
}
.ui-body{
    border: 1px solid #a6c9e2;
    border-radius: 4px;

}
.column-1 tr:nth-child(1){
    height: 32px;
}
.column-1 tr:nth-child(2){
       height: 32px;
}
.column-1 tr:nth-child(3){
    height: 32px;
}
.column-1 tr:nth-child(4){
    height: 130px;
}
.column-1 tr:nth-child(5){
    height: 42px;
}
.querendian{
    padding-left: 80px;
}
.ui-list th:nth-child(1){
width: 50px;
}
.ui-list th:nth-child(2){
    width:111px;
}
.ui-list th:nth-child(3){
    width:136px;
}
.ui-list th:nth-child(4){
    width:137px;
}
.ui-list th:nth-child(5){
    width:490px;
}
.admin{ position: relative;}
.box-4-search{position: absolute;
    left: 370px;
    top: 2px;}
.box-4-listall{
    position: absolute;
    left: 427px;
    top: 2px;
}

#box-1 {
    display: block;
}
#box-2, #box-3, #box-4, #box-5, #box-6, #box-7, #box-8 {
    display: none;
}

.popu{
    width: 500px;
    height: 600px;
    position: fixed;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -250px;
    background: #a6c9e2;
    display: none;
}

table td, table td * {
    vertical-align: top;
    text-align: left;
}

#box-3 td select {
    width: 100%;
}
#box-7 td select{
     width: 50%;
}
table, td {
    padding: 5px;
}

.operation {
    text-align: right;
    font-weight: bold;
    width: 90px;
}
.f_size{color: #de0000;font-size: 12px;}
tr{border-bottom: 1px dashed #eee;}
table{border-collapse:collapse;}
#box-7 table th{
     text-align: right;
}
.ph-12{
    position: relative;top: -12px;
}
.ph-23{
    position: relative;top: -23px;
}
#curriculum table tr td{
    text-align: center;
}

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    /*opacity: 0.4;*/
    display: none;
}

#subjects-dialog {
    z-index:1000;
    display: none;
    background: white;
    border: solid 1px gray;
    border-radius: 6px;
    box-shadow: 0px 0px 8px #666;
    padding: 5px 10px;
    width: 500px;
    height: 550px;
    /*overflow: scroll;*/
}

#subjects-dialog-ztree {
    overflow: scroll;
    overflow-y: scroll;
    height: 500px;
}

#subjects-dialog-buttons-holder {
    height: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.ztree .node_name {
    font-size: 14px;
}
#photo{
    display: block;
    height: 156px;
    width: 114px;
    background: #f3f3f3;
    border: solid 1px #DDD;
}
#filePicker {
    margin-top: 2px;
    width: 116px;
}
.webuploader-pick {
    width: 100%;
    padding: 0 !important;
}
.btn-photo{
    width: 113px;
    text-align: center;
    margin: 5px 0px;
}
button{
    width: 70px;
    text-align: center!important;;
}

.box-8{
    border-bottom: 1px dashed #eee;
    border-top: 1px dashed #eee;
    padding: 8px;
}
.box-8 p{
    color: #585858
}
.box-8 h2{
    color: #3272a5;
    font-size: 14px;
}
.box-8 p a{
    color: red;
}
.content-box-7 input{
    width: 49%;
}
