<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <mvc:view-controller path="/enroll" view-name="enroll.fm"/>
    <mvc:view-controller path="/request" view-name="request.fm"/>
    <mvc:view-controller path="/exam" view-name="exam.fm"/>
    <mvc:view-controller path="/server-status" view-name="server-status.html"/>

    <mvc:view-controller path="/test/rest-view" view-name="test/rest-view.html"/>
    <mvc:view-controller path="/test/cors" view-name="test/cors.html"/>
</beans>
