<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SpringMVC REST</title>
    <script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
    <script src="${static}/js/jquery.rest.js" charset="utf-8"></script>
</head>

<body>
    <script>
        function step7Submit() {
            var params = {
                "name":"刘hong",
                "idTypeId":36,
                "idNo":"320501198211116093",
                "certNo":"20163299931000111",
                "inHistory":"false",
                "inRegistration":"false",
                "degreeId":22,
                "eduLevelId":131,
                "learnTypeId":138,
                "normalMajorId":7,
                "graduationCollegeId":1133,
                graduationCollegeName: '河北省安新县进修学校',
                "majorId":2913,
                "graduationTime":"2016-10-29",
                "beginWorkYear":"2016-09-26",
                "workUnitTypeId":143,
                "workUnit":"asdf",
                "workDate":"2016-10-27",
                "schoolQualeId":306,
                "postQualeId":301,
                "pthLevelId":191,
                "technicalJobId":420,
                "provinceId":9188,
                "orgId":9190,
                "teachGradeId":1,
                "localeId":"9558",
                "localSetId":"10628",
                "teachSubjectId":100,
                "politicalId":9,
                "enrollNumber":"1",
                "birthPlace":"bj",
                "residence":"asdaf",
                "address":"asdaf",
                "zipCode":"100000",
                "phone":"123412341234",
                "cellphone":"18001166440",
                "tmpPhoto":"7268DA390E114B56B22C8961400165CB.png",
                "email":"biao.mac@icloud.com",
                "password":"jszg@12345",
                certTypeId : -1,
                registerSubjectId : 1156,
                recognizeOrgId : -1,
                registerId : 71593,
                genderId : 1,
                nationId : 1,
                enrollBatchId: 521,
                certBatchId: 521,
                certAssignDate : '2015-07-16',
                birthday : '2011-11-11',
                recognizeOrgName : '定期注册一省一市教育局',
                cityId:null,
                orgId:9190,
                subject:1156
            };

            $.rest.create({url: '/new-cert/rest/signUp/enroll/submit', data: params, async: false, success: function(result) {
                if (!result.success) {
                    console.log(result.message);
                } else {
                    console.log(result.data);
                }

                // alert(result.data);
            }});
        }

        $(document).ready(function() {
            step7Submit();

            // $.rest.get({url: '/new-cert/rest', data: {name: '黄彪'}, async: false, success: function(result) {
            //     console.log(result);
            // }});
            //
            // $.rest.create({url: '/new-cert/rest', success: function(result) {
            //     console.log(result);
            // }});
            //
            // $.rest.update({url: '/new-cert/rest', data: {name: '黄彪', age: 22}, success: function(result) {
            //     console.log(result);
            // }});
            //
            // $.rest.delete({url: '/new-cert/rest', success: function(result) {
            //     console.log(result);
            // }});
            //
            // $.rest.get({url: '/new-cert/rest/{id}', urlParams: {id: 121}, data: {name: '黄彪'}, success: function(result) {
            //     console.log(result);
            // }, error: function(e) {
            //     console.log(e);
            // }});
            //
            // console.log('end');
        });
    </script>
</body>

</html>
