<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SpringMVC REST</title>
    <script src="/new-cert/lib/jquery.js" charset="utf-8"></script>
    <script src="/new-cert/js/jquery.rest.js" charset="utf-8"></script>
</head>

<body>
    <script>
        $(document).ready(function() {
            $.rest.get({url: '/new-cert/rest', data: {name: '黄彪'}, async: false, success: function(result) {
                console.log(result);
            }});

            $.rest.create({url: '/new-cert/rest', success: function(result) {
                console.log(result);
            }});

            $.rest.update({url: '/new-cert/rest', data: {name: '黄彪', age: 22}, success: function(result) {
                console.log(result);
            }});

            $.rest.delete({url: '/new-cert/rest', success: function(result) {
                console.log(result);
            }});

            $.rest.get({url: '/new-cert/rest/{id}', urlParams: {id: 121}, data: {name: '黄彪'}, success: function(result) {
                console.log(result);
            }, error: function(e) {
                console.log(e);
            }});

            console.log('end');
        });
    </script>
</body>

</html>
