<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SpringMVC REST</title>
    <script src="/new-cert/lib/jquery.js" charset="utf-8"></script>
    <script src="/new-cert/js/jquery.rest.js" charset="utf-8"></script>
</head>

<body>
    <script>
        function step7Submit() {
            var params = {
                "name":"刘刚",
                "idTypeId":36,
                "idNo":"311012198808269015",
                "certNo":"20113102042000123",
                "inHistory":"true",
                "inRegistration":"false",
                "degreeId":21,
                "eduLevelId":131,
                "learnTypeId":138,
                "normalMajorId":7,
                "graduationCollegeId":10,
                graduationCollegeName: '武汉科技大学',
                "majorId":2216,
                "graduationTime":"2007-10-01",
                "beginWorkYear":"2016-09-26",
                "workUnitTypeId":143,
                "workUnit":"bj",
                "workDate":"2016-10-27",
                "schoolQualeId":306,
                "postQualeId":301,
                "pthLevelId":191,
                "technicalJobId":420,
                "provinceId":9188,
                "orgId":9190,
                "teachGradeId":1,
                "localeId":"16706",
                "localSetId":"10642",
                "teachSubjectId":100,
                "politicalId":180,
                "enrollNumber":"1",
                "birthPlace":"bj",
                "residence":"bj",
                "address":"bj",
                "zipCode":"100000",
                "phone":"123412341234",
                "cellphone":"18001166440",
                "tmpPhoto":"D787D43E6E604009A130193EC1434E8B.png",
                "email":"biao.mac@icloud.com",
                "password":"Passw0rd#",
                certTypeId : 1,
                registerSubjectId : 1,
                recognizeOrgId : 1,
                registerId : 4028,
                genderId : 1,
                nationId : 1,
                certBatchId: 1,
                certAssignDate : '2011-11-11',
                birthday : '2011-11-11',
                recognizeOrgName : '证书上的认定机构名称不能为空'
            };

            $.rest.create({url: '/new-cert/rest/signUp/enroll/submit', data: params, async: false, success: function(result) {
                if (!result.success) {
                    console.log(result.message);
                } else {
                    console.log(result.data);
                }

                // alert(result.data);
            }});
        }

        $(document).ready(function() {
            step7Submit();

            // $.rest.get({url: '/new-cert/rest', data: {name: '黄彪'}, async: false, success: function(result) {
            //     console.log(result);
            // }});
            //
            // $.rest.create({url: '/new-cert/rest', success: function(result) {
            //     console.log(result);
            // }});
            //
            // $.rest.update({url: '/new-cert/rest', data: {name: '黄彪', age: 22}, success: function(result) {
            //     console.log(result);
            // }});
            //
            // $.rest.delete({url: '/new-cert/rest', success: function(result) {
            //     console.log(result);
            // }});
            //
            // $.rest.get({url: '/new-cert/rest/{id}', urlParams: {id: 121}, data: {name: '黄彪'}, success: function(result) {
            //     console.log(result);
            // }, error: function(e) {
            //     console.log(e);
            // }});
            //
            // console.log('end');
        });
    </script>
</body>

</html>
